.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  width: 500px;
  padding: 10px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 18px;
}

.btn {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid #e9e9e9;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: color 250ms ease-in, background-color 250ms ease-in;
}

.btn:hover,
.btn:focus {
  background-color: blue;
  color: #fff;
}
