.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 36px;
}

.list {
  width: 500px;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.item:not(:first-child) {
  margin-top: 5px;
}

.status {
  width: 500px;
  padding: 10px;
  border: 1px solid #e9e9e9;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
}
